* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 4vh;
}

#main {
	min-width: 1000px;
	width: 100vw;
	margin: 0 0;
}

.borders {
	   border-top: 2px solid #a8a8a8;
	  border-left: 2px solid #a8a8a8;   
	 border-right: 2px solid #757575;
	border-bottom: 2px solid #757575;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;		
}

#menu {
	float: left;
	min-height: 530px;
	height: 91.5vh;
	min-width: 60px;
	width: 5vw;
	margin: 10px 5px;
	background: #eaeaea;	
}

#menu span{
	display: inline-block;
	width: 5vw;
	margin: 5px auto;
	font-size: 18px;
	text-align: center;
}

li {
	list-style: none;
}

#vertical-ticker{
	height:358px;
	overflow:hidden;
	margin:0; padding:0;
}

#vertical-ticker li:first-child {
	border-top:1px solid grey;
}

#vertical-ticker li{
	padding:5px 0;
	display:block;
	border-bottom:1px solid grey;
}

#ticker-previous {
	cursor: pointer;
	margin: 0 auto;
	width: 0;
	border: 10px solid transparent;
	border-bottom: 10px solid grey;
}

#ticker-previous:hover {
	border-bottom: 10px solid #F7F7F7;
}

#ticker-next{
	cursor: pointer;
	margin: 0 auto;
	width: 0;
	border: 10px solid transparent;
	border-top: 10px solid grey;
}

#ticker-next:hover {
	border-top: 10px solid #F7F7F7;
}
	
button{
	cursor: pointer;
	background: #F7F7F7;
    background: -moz-linear-gradient(top, #F7F7F7 0%, #757575 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#757575));
    background: -webkit-linear-gradient(top, #F7F7F7 0%,#757575 100%);
    background: -o-linear-gradient(top, #F7F7F7 0%,#757575 100%);
    background: -ms-linear-gradient(top, #F7F7F7 0%,#757575 100%);
    background: linear-gradient(to bottom, #F7F7F7 0%,#757575 100%);
}

button:hover {
	background: yellow;
	background: linear-gradient(to bottom, #F7F7F7 0%,yellow 100%);	
}

.menu-button {
	display: block;
	min-width: 40px;
	width: 4vw;
	height: 30px;
	margin: 5px auto;		
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 1.5vh;
	background: #F7F7F7;
    background: -moz-linear-gradient(top, #F7F7F7 0%, #A8A8A8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#A8A8A8));
    background: -webkit-linear-gradient(top, #F7F7F7 0%,#A8A8A8 100%);
    background: -o-linear-gradient(top, #F7F7F7 0%,#A8A8A8 100%);
    background: -ms-linear-gradient(top, #F7F7F7 0%,#A8A8A8 100%);
    background: linear-gradient(to bottom, #F7F7F7 0%,#A8A8A8 100%);
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

.menu-button:disabled {
	cursor: default;
	background: #cdcdcd;
	box-shadow: inset 0 2px 1px rgba(0,0,0,.15),0 2px 5px rgba(200,200,200,.1);
	border: 2px ridge #F7F7F7;	    
}

.sw-button {
	min-width: 20px;
	width: 4vh;
	max-width: 40px;
	height: 3vh;
	max-height: 20px;
	font-size: 1.5vh;
	margin: 0.5vh auto;
}

#content {
	float: left;	
	min-height: 530px;
	height: 91.5vh;
	min-width: 920px;
	width: 92vw;
	margin-top: 10px;
	background: #eaeaea;
	z-index: -1;
	position: relative;
}

.ui-draggable {
	width: 12vh;
	max-width: 100px;
	height: 12vh;
	max-height: 100px;
	margin: 1vh;
	text-align: center;
	background: #757575;
	background: -moz-radial-gradient(#F7F7F7 0%, #757575 100%);
    background: -webkit-gradient(radial, color-stop(0%,#F7F7F7), color-stop(100%,#757575));
    background: -webkit-radial-gradient(#F7F7F7 0%,#757575 100%);
    background: -o-radial-gradient(#F7F7F7 0%,#757575 100%);
    background: -ms-radial-gradient(#F7F7F7 0%,#757575 100%);
    background: radial-gradient(#F7F7F7 0%,#757575 100%);
	   border-top: 2px solid #a8a8a8;
	  border-left: 2px solid #a8a8a8;   
	 border-right: 2px solid #757575;
	border-bottom: 2px solid #757575;		
	-webkit-border-radius: 10%;
	   -moz-border-radius: 10%;
	        border-radius: 10%;
	position: absolute;
	z-index: 5;
}

.ui-draggable-dragging { 
	opacity: 0.8;
}

.ui-draggable .block-name {
	padding-top: 0.5vh;
	font-size: 2.2vh;
	text-align: center;
}

.ui-draggable .block-name:hover {
	/*cursor: default;*/
}

.bl-span-id {
	line-height: 2vh;
	font-size: 1.7vh;
	color: #777;
}

.in {
	position: absolute;
	height: 1.7vh;
	min-width: 5px;
	width: 0.5vw;
	font-size: 1.5vh;
	background: #9a9a9a;
	left: -0.4vw;
	   border-top: 2px solid #a8a8a8;
	  border-left: 2px solid #a8a8a8;
	 border-right: 2px solid #757575;  	  
	border-bottom: 2px solid #757575;
	-webkit-border-radius: 20%;
	   -moz-border-radius: 20%;
	        border-radius: 20%;
	cursor: crosshair;
}

.in:hover {
	background-color: #C5C518;
	border: 2px groove #C5C518;
}

.in1 {
	top: 20%;	
}

.in2 {
	bottom: 20%;
}

.out {
	position: absolute;
	height: 1.7vh;
	min-width: 5px;
	width: 0.5vw;
	font-size: 1.5vh;
	background: #9a9a9a;
	right: -0.4vw;
	top: 42%;
	   border-top: 2px solid #a8a8a8;
	  border-left: 2px solid #a8a8a8;
	 border-right: 2px solid #757575;   
	border-bottom: 2px solid #757575;
	-webkit-border-radius: 20%;
	   -moz-border-radius: 20%;
	        border-radius: 20%;
	cursor: crosshair;
}

.out:hover {
	background-color: #C5C518;
	border: 2px groove #C5C518;
}

#Block2 {
	margin-top: 140px;
}

/*#block3 {
	margin-left: 400px;
}*/

div input {
	margin: 5px auto 20px;
	width: 40px;
}

div span {
	margin-left: 5px;
}

.new {
	top: 30%;
	left: 50%;
	-webkit-animation-name: fall; /* Chrome, Safari, Opera */
	        animation-name: fall;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fall {
	  0% {top: 0%;}
	100% {top: 30%;}
}

/* Standard syntax*/
@keyframes fall {
	  0% {top: 0%;}
	100% {top: 30%;}
}

#delm-div {
	min-width: 33px;
	width: 3vw;
	margin: 5px auto;	
}

#del-mode {display: none;}
[for="del-mode"] {
	position: relative;
	display: block;
	min-width: 33px;
	width: 3vw;
	min-height: 33px;
	height: 3vw;
	border-radius: 100%;
	background: #ddd linear-gradient(#ccc, #fff);
	box-shadow:
			inset 0 2px 1px rgba(0,0,0,.15),
			0 2px 5px rgba(200,200,200,.1);
	cursor: pointer;
}
[for="del-mode"]:after {
	content: "";
	position: absolute;
	left: 35%; top: 35%;
	width: 30%;
	height: 30%;
	border-radius: 100%;
	background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
	box-shadow:
		inset 0 2px 4px 1px rgba(0,0,0,.3),
		0 1px 0 rgba(255,255,255,1),
		inset 0 1px 0 white;
}
[for="del-mode"]:before {
	content: "";
	position: absolute;
	top: 8%; right: 8%; bottom: 8%; left: 8%;
	border-radius: 100%;
	background: #eaeaea;
	box-shadow:
		0 3px 5px rgba(0,0,0,.25),
		inset 0 1px 0 rgba(255,255,255,.3),
		inset 0 -5px 5px rgba(100,100,100,.1),
		inset 0 5px 5px rgba(255,255,255,.3);
}
#del-mode:checked ~ [for="del-mode"]:before {
	background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#del-mode:checked ~ [for="del-mode"]:after {
	background: #f44336 radial-gradient(40% 35%, #ef5a5a, #f44336 60%);
	box-shadow:
        inset 0 3px 5px 1px rgba(0,0,0,.1),
        0 1px 0 rgba(255,255,255,.4),
        0 0 10px 2px rgba(210, 0, 0, .5);
}

.fullscr-btn {
	float: right;
	z-index:100;
}

.i-span1 {
	position: absolute;
	font-size: 1.7vh;
	left: 2px;
	top: 22%;
	color: #777;
	cursor: default;
}

.i-span2 {
	position: absolute;
	font-size: 1.7vh;
	left: 2px;
	bottom: 22%;
	color: #777;	
	cursor: default;
}

.del-cursor {
	cursor: url(delete-cross.png), pointer;
}

.arrow-div {
	position: fixed;
	width: 1px;
	height: 1px;
	z-index:0;
}