* {
	margin: 0;
	padding: 0;
}

#main {
	width: 1324px;
	margin: 10px auto;
}

#menu {
	float: left;
	height: 800px;
	width: 100px;
	margin: 10px 10px;
	border: 1px solid black;
}

#menu span{
	display: inline-block;
	width: 100px;
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
}

.menu-button {
	width: 80px;
	height: 30px;
	margin: 5px 10px;
}

#content {
	float: left;	
	height: 800px;
	width: 1200px;
	margin: 10px auto;
	border: 1px solid black;
}

.ui-draggable {
	width: 100px;
	height: 100px;
	background: #757575;
	/*border: 1px solid black;*/
	margin: 10px;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	position: relative;
}

.ui-draggable-dragging { 
	opacity: 0.8;
}

.ui-draggable .block-name {
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}

.ui-draggable .block-name:hover {
	cursor: default;
}

.in {
	position: absolute;
	height: 5px;
	width: 10px;
	background: black;
	left: -10px;
	cursor: crosshair;
}

.in:hover {
	background-color: #C5C518;
	
}

.in1 {
	top: 30%;	
}

.in2 {
	bottom: 30%;
}

.out {
	position: absolute;
	height: 5px;
	width: 10px;
	background: black;
	right: -10px;
	top: 50%;
	cursor: crosshair;
}

.out:hover {
	background-color: #C5C518;
}

.ui-draggable button{
	margin: 5px 40px;
}

#block3 {
	margin-left: 400px;
}

div input {
	margin: 5px 5px 5px 20px;
	width: 40px;
}

button {
	cursor: pointer;
}

